<li id="balance-envelope-<%= envelope.get('id') %>"
    class="span6 thumbnail">
    
  <div class="row">
    <span id="balance-envelope-name-<%= envelope.get('id') %>"
          class="span3">
        
    </span>
    <span id="balance-envelope-balance-<%= envelope.get('id') %>"
          class="pull-right">
          
    </span>
  </div>
  
  <div class="row">
    <span id="balance-envelope-buttons-<%= envelope.get('id') %>"
          class="span3">
          
    </span>
    <span id="balance-envelope-status-bar-<%= envelope.get('id') %>"
          class="span3 pull-right">
          
    </span>
  </div>
  
  <div id="balance-envelope-subs-status-<%= envelope.get('id') %>">

  </div>
  
  <ul id="balance-envelope-<%= envelope.get('id') %>-subs"
      class="thumbnails">
  </ul>
</li>