<span id="envelope-show-subs-<%= envelope.get('id') %>">
  
</span>
<span id="envelope-deposit-<%= envelope.get('id') %>">
  
</span>
<span id="envelope-withdrawal-<%= envelope.get('id') %>">
  
</span>
<span id="envelope-add-sub-<%= envelope.get('id') %>">
  
</span>
<span id="envelope-remove-<%= envelope.get('id') %>">
  
</span>
<span id="envelope-edit-<%= envelope.get('id') %>">
  
</span>
<span id="envelope-show-transactions-<%= envelope.get('id') %>">
  
</span>