<div class="control-group">
  <label for="envelope-<%= envNum %>-item-<%= itNum %>-amount" class="control-label">Item <%= itNum %>:</label>
  <div class="controls form-inline">
    <input type="text" placeholder="Amount" id="envelope-<%= envNum %>-item-<%= itNum %>-amount"/>
    <label class="checkbox">
      <input type="checkbox" id="envelope-<%= envNum %>-item-<%= itNum %>-tax"> Taxed
    </label>
  </div>
</div>